# Optional overrides for deploy/setup-digitalocean.sh
# Export any values you want to change before running the bootstrap.

REPO_URL=https://github.com/Exergism-Commons/id.git
REPO_REF=main
DOMAIN=id.exergism.org
APP_USER=idexergism
APP_DIR=/srv/id.exergism.org
APP_BIN=/usr/local/bin/idresolver
LISTEN_ADDR=127.0.0.1:8080
ENABLE_UFW=1
